<div class="card" style="text-align:center">
  <form>
    <div class="card-header">
      <h5 class="card-title">Add a new City</h5>
      <small>Fill in the fields and press submit to add a city to the db</small>
    </div>
    City Name
    <div class="md-form">
      <input type="text" [(ngModel)]="Name" name="name"  class="form-control">

    </div>
    Amount of residents
    <div class="md-form">
      <input type="text" [(ngModel)]="Residents" name="residents" class="form-control">

    </div>
    Total area (m²)
    <div class="md-form">
      <input type="text" [(ngModel)]="Area" name="area" class="form-control">
      
    </div>

    <div class="text-center py-4 mt-3">
      <button type="button" class="btn btn-dark" (click)="Post()" type="submit">Submit</button>
    </div>
  </form>
</div>