<div class="card" style="text-align: center;">
    <div class="card-header">
        <h5 class="card-title">Update a specific city</h5>
        <small>Search for a city by entering an ID</small>
        </div>
  <div class="card-body">
    <div class="table-wrapper-2">
      <input type="text" class="form-control" [(ngModel)]="Search">
      <div *ngIf="result" class="wrapper1">
        <ul>
          <h4>Current Value</h4>
          Name: {{result.name}}
          <br> Residents: {{result.residents}}
          <br> Area: {{result.area}}
          <br>
          <br><i> Fill in the fields below, then submit by using the Update button</i>
          <br>   <form>
            City Name
            <div class="md-form">
              <input type="text" [(ngModel)]="Name" name="name"  class="form-control">
        
            </div>
            Amount of residents
            <div class="md-form">
              <input type="text" [(ngModel)]="Residents" name="residents" class="form-control">
        
            </div>
            Total area (m²)
            <div class="md-form">
              <input type="text" [(ngModel)]="Area" name="area" class="form-control">
              
            </div>
          </form>
        </ul>
      </div>
    </div>
    <div class="text-center py-4 mt-3">
      <button type="button" class="btn btn-dark" (click)="Put()" type="submit">Update</button>
    </div>
  </div>
</div>