<div  class="card" style="text-align: center;">
  You can delete a city from the database here.
    <div class="card-body">
        <div class="table-wrapper-2">
          Search for a city by entering an ID
            <input type="text" class="form-control" [(ngModel)]="cityId">
            <div *ngIf = "result" class="wrapper1">
                <ul>
                        <h4>Current Value</h4>
                        Name:  
                        {{result.name}}
                        <br>
                        Residents:  
                        {{result.residents}} 
                        <br>
                        Area:
                        {{result.area}}    
                        <br>
                        <br>
                        <br>
                        </ul> 
          </div>
        </div>
        <div class="text-center py-4 mt-3">
            <button class="btn btn-cyan" (click)="Delete()" type="submit">Delete</button>
        </div>
    </div>
  </div>