<router-outlet></router-outlet>

<div class="container color-dark">

  <div class="search-area">
    <span>Search Name: </span>
    <input type="text" placeholder="Ex: Mew" [(ngModel)]="searchString" class="searchFields">
    <button class="searchButton" (click)="clickSearch()">Search</button>
    <span>Search  Type:  </span>
    <input type="text" placeholder="Ex: Water" [(ngModel)]="typeString" class="searchFields">
    <button (click)="typeSearch()">Search</button>
  </div>
  <table  style="float:left">
      <div class="card" float="left" *ngFor="let card of cardData; let i = index; let even = even">
          <ng-container *ngIf="even && i%3!=0">
          <td><h3>{{card.name}}</h3>
          <img [src]="card.imageUrl" alt=""></td>
          <td>{{i}}</td>
          </ng-container>
        </div>
  </table>
  <table style="float: left">
      <div class="card" *ngFor="let card of cardData; let i = index; let odd = odd">
          <ng-container *ngIf="odd && i%3!=0">
          <td><h3>{{card.name}}</h3>
          <img [src]="card.imageUrl" alt=""></td>
          <td>{{i}}</td>
          </ng-container>
        </div>
      </table>
  <table>
          <div class="card" *ngFor="let card of cardData; let i = index">
              <ng-container *ngIf="i%3 == 0">
              <td><h3>{{card.name}}</h3>
              <img [src]="card.imageUrl" alt=""></td>
              <td>{{i}}</td>
              </ng-container>
            </div>
      </table>
  </div>
