<div *ngIf="auth.isAuthenticated()" class="container">
 <p class="lead">Welcome to PokéSearch!</p>
 <img src="assets/images/homeImage.jpg" alt="Error loading image.">
</div>
<div *ngIf="!auth.isAuthenticated()">
    <button id="qsLoginBtn" class="btn btn-primary my-2 my-sm-0" *ngIf="!auth.isAuthenticated()" (click)="auth.login()" type="button">
      Log In
  </button>
  <p class="lead">make Pikachu happy and log in first!</p>
  <img src="assets/images/sadPikachu.jpg" alt="Pika is too sad to be loaded.">
</div>